.fancySelectContainer {
    max-width: 500px;
}

/* the button is the element which is always shown, style it */
.fancySelectContainer .btnOpen {
    background: none;
    color: var(--colBtnOpenFg);
    background-color: var(--colBtnOpenBg);
    position: relative;
    border: none;
    border: var(--colBtnOpenBg) solid 2px;
    outline: none;
    font-size: 20px;
    min-width: 150px;
    text-align: left;
    outline: none;
    cursor: pointer;
}
.fancySelectContainer .btnOpen.open {
    background-color: var(--colBtnOpenOpenBg);
}

/* add the triangle right of the button */
.fancySelectContainer .btnOpen:after {
    content: "▾";
    position: absolute;
    right: 0px;
    top: 0%;
}

/* floatDiv is the menu which can be open or closed */
.fancySelectContainer .floatDiv {
    background-color: var(--colFloatDivBg);
    margin: 0;
    padding: 0;
    border: solid white 2px;
    opacity: 90%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);

    /* do not display by default */
    display: none;
    list-style: none;
    /* when displayed, put centered in the middle of the screen */
    /*position: fixed;*/ /* fixed is bad for small screens, absolute is better */
    position: absolute;
    left: 5vw;
    width: 90vw;
    /* top is set here, but it can be overridden whenever the menu is opened (if moveTop=true in the constructor) */
    top: 5vh;
    /* display above all content */
    z-index: 3;
}

/* show the menu */
.fancySelectContainer .floatDiv.open {
    display: inline-block;
}

.fancySelectContainer .uList li {
    /* no bullet point list, but blockwise */
    display: inline-block;
}

.fancySelectContainer .uList li a {
    color: var(--colListFg);
    text-decoration: none;
    display: inline-block;
    padding: 10px 10px;
    min-width: 6em;
}

.fancySelectContainer .uList li a:hover {
    background-color: var(--colListHoverBg);
}

.fancySelectContainer .uList li a.active {
    color: var(--colListActiveFg);
    background-color: var(--colListActiveBg);
}
