html {
    color: var(--colFg);
    background-color: var(--colBg);
}

input {
    color: var(--colFg);
    background-color: var(--colTxtBg);
}

select {
    color: var(--colFg);
    background-color: var(--colTxtBg);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

/* vertically center text in labels */
label {
    display: flex;
    align-items: center;
}

/* stylish buttons */
button{
    color: var(--colBtnFg);
    background-color: var(--colBtnBg);
    border: none;
    border-radius: 15px;
    padding: 8px 20px;
    margin: 5px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
}
button:hover {
    color: var(--colBtnHoverFg);
    background-color: var(--colBtnHoverBg);
}
button:active {
    color: var(--colBtnHoverFg);
    background-color: var(--colBtnHoverBg);
}

input[type="text"] {
    color: var(--colFg);
    background-color: var(--colTxtBg);
    border-color: var(--colTxtBorder);
    border-width: 2px;
    border-radius: 15px;
    padding: 8px 20px;
    margin: 5px;
    text-align: center;
    display: inline-block;
}



/* create the menu bar (mainly from w3schools.com/css/css_navbar.asp) */
body {
    margin: 0;
}

#topnav {
    background-color: var(--colMenuBg);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}

#topnav li {
    float: left;
    flex-shrink: 0; /* no line wrap */
}

#topnav li a {
    color: var(--colMenuFg);
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#topnav li a:hover:not(.active) {
    background-color: var(--colMenuHoverBg);
}

#topnav .active {
    color: var(--colMenuActiveFg);
    background-color: var(--colMenuActiveBg);
}



/* page layout below the nav bar */
.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.flex-container > div {
    padding: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}



/* decoration for hyperlinks  */
/* decoration for hyperlinks which do not change their color,
 also add unterline and mouse pointer for non-<a> elements added in JS */
.monocolorLink {
    color: var(--colMonoLinkFg);
    text-decoration: underline;
    cursor: pointer;
}
.monocolorLinkHighlight {
    color: var(--colMonoLinkHlFg);
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}



/* style the score entry fields */
.entryFieldGrid legend {
    text-align: center;
    font-size: 30px;
    width: 100%;
}
/* grid inside the fieldset */
.entryFieldGrid .grid {
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;
}
.entryFieldGrid .grid > label,
.entryFieldGrid .grid > button {
    text-align: center;
    margin: 5px;
}
.entryFieldGrid .grid > button {
    grid-column: span 2;
}

.eloPreview {
    border-width: 2px;
    border-radius: 15px;
    border-style: solid;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    display: inline-block;
}



/* style for tables representing data */
.dataTable {
    border-collapse: collapse;
}

.dataTable, .dataTable th, .dataTable td {
    border: 1px solid black;
    text-align:center;
}
.dataTable td {
    min-width:8ex;
}
.dataTable tr:nth-child(odd) {
    background: var(--colDTRowHl);
}
.dataTable .highlighted {
    border: 3px solid var(--colDTBorderHl);
}

.padCells td {
    padding: 0.5em 2ex;
}

/* style and colors for table highlighting */
.tdMaxScore {
    background-color: var(--colTableMaxScore);
    font-weight:bold;
}
.tdMinScore {
    background-color: var(--colTableMinScore);
    font-weight:bold;
}

.tdHighlightWon {
    background-color: var(--colTableWon);
}
.tdHighlightLost {
    background-color: var(--colTableLost);
}

.tdHighlightMatch {
    background-color: var(--colTableMatch);
    font-weight:bold;
}

.tdMinSpectral  { background-color: hsl(0,   100%, 50%); }
.tdMidSpectral  { background-color: hsl(50,   40%, 20%); }
.tdMaxSpectral  { background-color: hsl(100, 100%, 50%); }
.tdSpectralText { font-weight:bold; }



/* Image for the score table which enlarges on desktop->hover or mobile->click */
.tdInlineImage {
    width:  80px;
    height: 80px;
    vertical-align:middle;
}
@media only screen and (min-width: 768px) {
    .tdInlineImage:hover {
        width:  500px;
        height: 500px;
    }
}



/* style the elo history canvas */
#eloHistCanvas { width: 90vw; }
/* For mobile phones: */
@media only screen and (max-width: 768px) {
    #eloHistCanvas { width: 800px; }
}

.eloHistCol1 { color: var(--colEloHist1); }
.eloHistCol2 { color: var(--colEloHist2); }
.eloHistCol3 { color: var(--colEloHist3); }
.eloHistCol4 { color: var(--colEloHist4); }
.eloHistCol5 { color: var(--colEloHist5); }
