:root {
    --colFg: #009933;
    --colBg: #eeeeee;
    --colTxtBg: #dddddd;

    --colBtnFg: var(--colFg);
    --colBtnBg: #cccccc;
    --colBtnHoverFg: #000000;
    --colBtnHoverBg: #dddddd;
    --colBtnActiveFg: #cccccc;
    --colBtnActiveBg: #000000;

    --colTxtBorder: var(--colFg);

    --colMenuFg: var(--colFg);
    --colMenuBg: #DDDDDD;
    --colMenuActiveFg: #000000;
    --colMenuActiveBg: #00e887aa;
    --colMenuHoverBg: #999999;

    --colMonoLinkFg: #2c23cf;
    --colMonoLinkHlFg: #fc19d7;

    --colDTRowHl: #00739955;
    --colDTBorderHl: #555555;

    --colTableMaxScore: #289923;
    --colTableMinScore: #871b6d;
    --colTableWon: #4287f544;
    --colTableLost: #f5166844;
    --colTableMatch: #4287f544;

    --colEloHist1: #1a9944;
    --colEloHist2: #4287f5;
    --colEloHist3: #991a33;
    --colEloHist4: #00baba;
    --colEloHist5: #c79200;
}
