:root {
    --colFg: #5bd8ef;
    --colBg: #282923;
    --colTxtBg: #444444;

    --colBtnFg: var(--colFg);
    --colBtnBg: var(--colTxtBg);
    --colBtnHoverFg: #33ddee;
    --colBtnHoverBg: #888888;
    --colBtnActiveFg: #bbbbbb;
    --colBtnActiveBg: #000000;

    --colTxtBorder: var(--colFg);

    --colMenuFg: var(--colFg);
    --colMenuBg: #333333;
    --colMenuActiveFg: #dddddd;
    --colMenuActiveBg: #287023;
    --colMenuHoverBg: #111111;

    --colMonoLinkFg: var(--colFg);
    --colMonoLinkHlFg: #ff4444;

    --colDTRowHl: #28492388;
    --colDTBorderHl: #999999;

    --colTableMaxScore: #289923;
    --colTableMinScore: #871b6d;
    --colTableWon: #4287f544;
    --colTableLost: #f5166844;
    --colTableMatch: #4287f544;

    --colEloHist1: #1a9944;
    --colEloHist2: #4287f5;
    --colEloHist3: #991a33;
    --colEloHist4: #00baba;
    --colEloHist5: #c79200;
}
