:root {
    --colBtnOpenFg: var(--colFg);
    --colBtnOpenBg: var(--colTxtBg);
    --colBtnOpenOpenBg: #287023;

    --colFloatDivBg: #333333;

    --colListFg: var(--colFg);
    --colListHoverBg: #111111;
    --colListActiveFg: #dddddd;
    --colListActiveBg: #287023;
}
