:root {
    --colBtnOpenFg: var(--colFg);
    --colBtnOpenBg: var(--colBtnBg);
    --colBtnOpenOpenBg: #00e887aa;

    --colFloatDivBg: #dddddd;

    --colListFg: var(--colFg);
    --colListHoverBg: #999999;
    --colListActiveFg: #000000;
    --colListActiveBg: #00e887aa;
}
